src/main/mule/github-actions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2322f9c6-8318-422e-ab4f-6c6174ea37d0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="fded7644-fba7-41b6-9317-aa304538f65e" file="myproperties.properties" key="${secure.key}" />
	<flow name="github-actionsFlow" doc:id="7528face-f82e-47b1-b579-eb1e1c19c970" >
		<http:listener doc:name="Listener" doc:id="0c997093-5c02-4574-bc01-850b5ce998f4" config-ref="HTTP_Listener_config" path="/api/test"/>
		<set-payload value="#[&quot;Hello from cloudhub! &quot; ++ p('secure::encrypted.myData')]" doc:name="Set Payload" doc:id="58663d4a-0871-4a2a-a874-fa4c5fdc3e37" />
	</flow>
</mule>
